.table-container {
    width: 40%;
    display: table;
    border-collapse: collapse;
  }
  
  .table-row {
    display: table-row;
  }
  
.li {
    display: table-cell;
    border-style: dotted none dotted none;
    border-color: rgb(161, 150, 180);
    padding: 5px;
  }
  
  .header-row {
    background-color: lightgrey;
   font-weight: bold;
   }

   body {
     text-align: justify;
   }
   
  table {
  text-align: center;
   }

 #linha-1{
    border-style: solid none solid none;
    border-color: darkgray;
 }

.time {
    width: 30px;
    height: 30px;
    text-align: center; 
    border-radius: 10px;

}



