.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }


  .one {
    grid-column: 1 / 3;
    grid-row: 1 / 1;
    background-color: #7b68ee;
    border: 2px;
    border-style: solid;
    border-radius: 15px;
    border-color: blue;
  }


  .two {
    grid-column: 2 / 4;
    grid-row: 1 / 3 ;
    background-color: #9370db;
    border: 2px;
    border-style: solid;
    border-radius: 15px;
    border-color: blue;
    }

    .two2{
        grid-column: 2 / 3;
        grid-row: 1 / 1 ;
        background-color: blueviolet;
        border: 2px;
        border-style: solid;
        border-radius: 15px;
        border-color: blue;
    }

  .three {
    grid-row: 2 / 5;
    grid-column: 1;
    border: 2px;
    border-style: solid;
    background-color: darkviolet;
    border-radius: 15px;
    border-color: blue;
}
  .four {
    grid-column: 3;
    grid-row: 3;
    border: 2px;
    border-style: solid;
    background-color: mediumorchid;
    border-radius: 15px;
    border-color: blue;
  }
  .five {
    grid-column: 2;
    grid-row: 4;
    border: 2px;
    border-style: solid;
    background-color: orchid;
    border-radius: 15px;
    border-color: blue;
  }
  .six {
    grid-column: 3;
    grid-row: 4;
    border: 2px;
    border-style: solid;
    background-color: violet;
    border-radius: 15px;
    border-color: blue;
  }
