h1 {
  text-align: center;
  border: 2px solid black;
  box-shadow: 5px 5px grey;
}

body {
  background-color: azure;
  text-align: center;
}

.my-element {
  background-color: paleturquoise;
  padding: 0px; 
}

.my-subtitulo {
  text-align: center;
}

	
